/************************
        General
************************/
html{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: transparent !important;
}

body{
    padding: 0!important;
    margin: 0 auto !important;
    width: 100%;
    height: 100%;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: transparent !important;
}

*:focus {
    outline: 0 none;
}

input::-moz-focus-inner { 
  border: 0; 
}

#content {
    width: 100%;
    height: 100%;
    transition: all ease-in-out 0.2s;
}

.blur {
    width: 100%;
    /*height: 1000px;*/
    -webkit-filter:blur(2px);
       -moz-filter:blur(2px);
        -ms-filter:blur(2px);
         -o-filter:blur(2px);
            filter:blur(2px);
}

/************************
        Pages
************************/
.page-container {
    padding: 10px;
}

.page-wrap {
    max-width: 900px;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}

/************************
          404
************************/
#pageNotFound {
    text-align: center;
}

/************************
        Editor
************************/
#editor-title {
    text-align: center;
}

/************************
        Navigation
************************/

#navBarContainer {
    position: fixed;
    width: 100%;
    height: auto;
    padding-top: 50px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    margin: 0 auto;
    opacity: 0.7;
}
#navBarContainer:hover {
    opacity: 1;
}

#navbar {
    width: 162px;
    margin: 0 auto;
}

/*************************************
              All button
**************************************/
.btn {
    color: #e0e0e0;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-border-radius: 0.2px;
       -moz-border-radius: 0.2px;
        -ms-border-radius: 0.2px;
         -o-border-radius: 0.2px;
            border-radius: 0.2px;
    -webkit-transition: all 0.3s ease;
       -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
         -o-transition: all 0.3s ease;
            transition: all 0.3s ease;  
}

.btn:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.9);
    border-color: #e0e0e0;
}

.textBtn {
    margin: 0 auto;
    overflow: hidden !important;
    z-index: 1;
}

/*************************************
              Menu button
**************************************/
#menu {
    overflow:visible !important;
    display: flex;
    flex-direction: column;
    bottom: 76px;
    height: auto;
    margin: 0 auto;
    padding: 0;
}

.menuBtn {
    font-size: 1.5rem;
    position: relative;
    border: none;
    width: 158px;
    height: 50px;
    margin: 2px;
}

.menuBtn .triangle {
    opacity: 0;
    position: absolute;
    top: 12px;
    left: -35px;
    border-top: 14px solid transparent;
    border-bottom: 14px solid transparent;
    border-left: 25px solid darkgray;
    -webkit-transition: all 0.3s ease;
       -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
         -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
}
.menuBtn:hover .triangle {
    opacity: 1;
    left: -10px;
}

/*************************************
     Navigation + open Menu button
**************************************/
#navigation{
    z-index: 999;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navBtn {
    margin: 2px !important;
    border: none;
    width: 50px;
    height: 50px;
    display: block;
    margin: 0 auto;
    text-decoration: none;
}

.navBtn .triangle {
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.4;
    margin: 0;
    position: relative;
    width: 0;
    height: 0;
    -webkit-transition: all 0.3s ;
       -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
         -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
}

.navBtn:hover {
    -webkit-border-radius: 30px;
       -moz-border-radius: 30px;
        -ms-border-radius: 30px;
         -o-border-radius: 30px;
            border-radius: 30px;
}

/* Left button */
.left .triangle {
    border-top: 14px solid transparent;
    border-bottom: 14px solid transparent;
    border-right: 25px solid #c1c1c1;
}

.left:hover .triangle {
    border-right: 25px solid;
    opacity:1;
    color: #c1c1c1;
    left: -5px;
}

/* Right button */
.right .triangle {
    border-top: 14px solid transparent;
    border-bottom: 14px solid transparent;
    border-left: 25px solid #c1c1c1;
}

.right:hover .triangle {
    border-left: 25px solid;
    opacity: 1;
    color: #c1c1c1;
    left: 40px;
}

/* Open menu button */
.cross {
    left: 50%;
    transform: translateX(-50%);
    background-color: darkgray;
    height: 38px;
    position: relative;
    width: 5px;

}

.cross:after {
    top: calc(50% - 2.5px);
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
    background-color: darkgray;
    content: "";
    height: 5px;
    position: absolute;
    width: 38px;
}

.cross:hover {
    background: rgba(255,255,255,0.8);
}

.cross:after:hover {
    background: rgba(0,0,0,0.8);
}

/* Rotation Open menu button */
.rotation {
    background: rgba(0,0,0,0.9);
    border-radius: 25px;
    -webkit-transform: rotate(135deg);
       -moz-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
         -o-transform: rotate(135deg);
            transform: rotate(135deg);
}

.hiddenBtn,
.hiddenBtn:hover,
.hiddenBtn .triangle,
.hiddenBtn:hover .triangle {
    top: 0;
    left: 0;
    right:0;
    background: darkgray !important;
    border: none;
    border-radius: 0;
    opacity: 0.2;
}

/***********************
      Infos popup
***********************/
#infos {
    z-index: 9999;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    position: fixed;
    margin: 0 auto;
    top: -400px;
    left: 50%;
    background-color: rgba(20, 20, 20, 0.9);
    color: white;
    min-width: 200px;
    min-height: 300px;
    max-height: 370px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-transition: all ease-in-out 0.2s;
       -moz-transition: all ease-in-out 0.2s;
        -ms-transition: all ease-in-out 0.2s;
         -o-transition: all ease-in-out 0.2s;
            transition: all ease-in-out 0.2s;
    -webkit-transform: translate(-50%);
       -moz-transform:translate(-50%);
        -ms-transform: translate(-50%);
         -o-transform: translate(-50%);
            transform: translate(-50%);

}

.infos-box {
    padding-left: 10px;
    padding-right: 10px;
}

#infos .infos-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: gray;
    text-align: center;
    height: 50px;
    line-height: 50px;
}

#infos .infos-header .head-left {
    padding-left: 20px;
    font-size: 1.5rem;
}

#infos .infos-header .head-right {
    font-size: 1.8rem;
}

#infos .infos-header .head-right i {
    padding: 0.2rem;
    border-radius: 2px;
    border: 1px solid white;
}

#infos .infos-header .head-right:hover i {
    background-color: black;
    border: 1px solid black;
    font-size: 1.8rem;
}

#infos .infos-content {
    flex: 1;
    padding: 20px;
}

#infos .infos-content p a {
   color: cornflowerblue;
}

.infos-close {
    background-color: black;
    font-size: 1.3rem;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 5px;
}

@media screen and (max-width: 700px) { 
    #infos {
        width: 100%;
        height: auto;
    }
}

/***********************
     Previews pages
***********************/
#columns {
    column-width: 320px;
    column-gap: 15px;
    width: 90%;
    max-width: 1100px;
    margin: 50px auto;
    margin-bottom: 50px;
}

div#columns figure {
    position: relative;
    margin: 0 2px 15px;
    padding: 15px;
    padding-bottom: 10px;
    transition: all .4s ease-in-out;
    display: inline-block;
    column-break-inside: avoid;
}

div#columns figure img {
    transition: all .4s ease-in-out;
    background: #fefefe;
	width: 100%; height: auto;
	margin-bottom: 5px;
}

div#columns figure figcaption {
    font-size: .9rem;
    line-height: 1.5rem;
    color: white;
    background-color: rgba(0,0,0,0.8);
    width: 60%;
    position: absolute;
    bottom: 15%;
    left: 0;
    text-align: center;
    transition: all ease-in-out 0.3s;
    opacity: 0.7;
    z-index: 999;
}

div#columns figure:hover figcaption {
    opacity: 1;
    width: 70%;
}

div#columns figure figcaption h3 a{
    text-decoration: none;
    color: white;
}

div#columns small { 
    font-size: 1rem;
    float: right; 
    text-transform: uppercase;
    color: #aaa;
} 

div#columns small a { 
  color: #666; 
  text-decoration: none; 
  transition: .4s color;
}

@media screen and (max-width: 750px) { 
    #columns {
        column-gap: 0px;
        column-width: 320px;
        width: 90%;
        margin: 0;
        margin-bottom: 50px;
    }
    #columns figure {
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }
}

/***********************
      Login pages
***********************/
#login {
    padding-top: 50px;
    width: 100%;
    height: calc(100% - 50px);
    
    background-color: cornflowerblue;
}

#login h1 {
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto;
}

#login-form {
    margin: 0 auto;
    max-width: 250px;
    text-align: center;
    border: 1px solid gray;
    padding: 30px;
}

.row {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.row label {
    border: none;
    padding: 5px;
    width: 150px;
}

.row input {
    font-size: 1rem;
    border: none;
    padding: 5px;
    width: 150px;
}

.login-btn {
    text-align: center;
}

.login-btn input{
    margin-top: 30px;
    font-size: 1rem;
    border: none;
    width: 160px;
    padding: 5px;
}
