<div class='page-wrap'>
	<style id='bckgrdImgStyle'>
        #content {
			background-image: url("/images/une_foret_amanita.jpg") !important;
            background-attachment: fixed;
            background-position: 50% 50%;
            background-repeat: repeat;
            background-size: auto auto;
        }
    </style>
		<div style="max-width: 500px; margin: 0 auto;">
		<br>
		<br>
		<br>
		<br>
		<h1 style="padding: 5px;background-color: rgba(0,0,0,0.8); color:yellow">Une foret</h1>
		<h3 style="line-height:1.4rem;padding: 5px;background-color: rgba(0,0,0,0.8); color:yellow">
		Vous sucez un bonbon qui entame le contour des choses. La porte du frigo
		est une foule anonyme est le bleu du ciel est votre main gauche est une
		mine de sel est le concerto italien de bach est un essain d'abbeilles est
		votre meilleur ami est un cyclotron de dernière génération. Une histoire
		dont (personne) n'est le héros...
		</h3>
	</div>
</div>