        <!-- The editor -->
        <div id="editor-title">
            <h1>Editor</h1>
            <h4>Create page</h4>
        </div>

        <div id="editor"></div>

        <!-- trumbowyg css -->
        <link rel='stylesheet' href='/js/trumbowyg/ui/trumbowyg.css' />

        <!-- trumbowyg core -->
        <script type='text/javascript' src="/js/trumbowyg/trumbowyg.js"></script>

        <!-- trumbowyg plugins -->
        <script type='text/javascript' src="/js/trumbowyg/plugins/base64/trumbowyg.base64.js"></script>
        <script type='text/javascript' src="/js/trumbowyg/plugins/cleanpaste/trumbowyg.cleanpaste.js"></script>
        <script type='text/javascript' src="/js/trumbowyg/plugins/colors/trumbowyg.colors.js"></script>
        <script type='text/javascript' src="/js/trumbowyg/plugins/emoji/trumbowyg.emoji.js"></script>
        <script type='text/javascript' src="/js/trumbowyg/plugins/insertaudio/trumbowyg.insertaudio.js"></script>
        <script type='text/javascript' src="/js/trumbowyg/plugins/noembed/trumbowyg.noembed.js"></script>
        <script type='text/javascript' src="/js/trumbowyg/plugins/pasteimage/trumbowyg.pasteimage.js"></script>
        <script type='text/javascript' src="/js/trumbowyg/plugins/preformatted/trumbowyg.preformatted.js"></script>
        <script type='text/javascript' src="/js/trumbowyg/plugins/table/trumbowyg.table.js"></script>
        <script type='text/javascript' src="/js/trumbowyg/plugins/template/trumbowyg.template.js"></script>
        <script type='text/javascript' src="/js/trumbowyg/plugins/upload/trumbowyg.upload.js"></script>

        <!-- custom plugins -->
        <script type='text/javascript' src="/js/trumbowyg/plugins/backgroundimage/trumbowyg.backgroundimage.js"></script>

        <!-- trumbowyg configuration -->
        <script type='text/javascript' src="/js/trumbowyg.configuration.js"></script>
