<div id="infos">
    <div class="infos-header infos-box">
        <div class="head-left">
            <i class="fa fa-info" aria-hidden="true"></i>
            <i class="fa fa-question" aria-hidden="true"></i>
            &nbsp;-&nbsp;infos
        </div>
        <div class="head-right">
            <i id="infos-close" class="fa fa-times-circle-o" aria-hidden="true"></i>
        </div>
    </div>

    <div class="infos-content infos-box">
        <h4>What</h4>
        <p>&nbsp;- A simple site</p>
    </div>
</div>