<div class="">
    <div class="">
    <h1>Login</h1>

    <% if (message != null) { %>
        <div class=""><%= message %></div>
    <% } %>

    <form action="/login" method="post">
        <div class="">
            <label>User name</label>
            <input type="text" class="" name="username">
        </div>

        <div class="">
            <label>Password</label>
            <input type="password" class="" name="password" />
        </div>

        <div>
            <input type="submit" class="" value="Submit" />
        </div>
    </form>
</div>