
<div id="navigation">

    <div id="toggle" class="item-btn">+</div>

    <div id="toolbar">
        
        <input id="infos-open" class="toolbar-btn item-btn" type="button"  value="&#xf128;"></input>
        
        <!-- Open editor Button -->
        <% if (data.type !== 'editor') { %>
            <input class="toolbar-btn item-btn" type="button" onclick="openEditor()" value="&#xf196;"></input>
        <% } %>

        <!-- Return to first page Button -->
        <input class="toolbar-btn item-btn" type="button" onclick="index()" value="&#xf015;"></input>
    </div>

    <!-- Previous page Button -->
    <% if (typeof data.prevPage !== 'undefined' && typeof data.prevPage !== '' ) { %>
        <input class="nav-btn item-btn" type="button" onclick="prev()" value="&#xf100;"></input>
    <% } %>

    <!-- Next page Button -->
    <% if (typeof data.nextPage !== 'undefined' && typeof data.nextPage !== '' ) { %>
        <input class="nav-btn item-btn" type="button" onclick="next()" value="&#xf101;"></input>
    <% } %>
</div>


<div id="infos">
    <div class="infos-header infos-box">
        <div class="head-left">
            <i class="fa fa-info" aria-hidden="true"></i>
            <i class="fa fa-question" aria-hidden="true"></i>
            &nbsp;-&nbsp;infos
        </div>
        <div class="head-right">
            <i id="infos-close" class="fa fa-times-circle-o" aria-hidden="true"></i>
        </div>
    </div>

    <div class="infos-content infos-box">
        <h4>What</h4>
        <p>&nbsp;- A simple site</p>
    </div>
</div>





<script>
    // Togle toolbar button
    $( "#toggle" ).click(function() {
        if ($('#toolbar').css('width') === '185px') {
            $('#toggle').css('border-radius', '0');
            $('#toggle').toggleClass('rotation');
            $('#toolbar').css('width', '0');
            $('.toolbar-btn').css('width', '0');
        } else {
            $('#toggle').css('border-radius', '25px');
            $('#toggle').toggleClass('rotation');
            $('#toolbar').css('width', '185px');
            $('.toolbar-btn').css('width', '50px');
        }
    });
    // Open close button from toolbar 
    $( "#infos-open" ).click(function() {
        if ($('#infos').css('top') === '-300px') {
            $('#infos').css('top', '50px');
        } else {
            $('#infos').css('top', '-300px');
        }
    });
    // Close button on infos popup
    $( "#infos-close" ).click(function() {
        if ($('#infos').css('top') === '-300px') {
            $('#infos').css('top', '50px');
        } else {
            $('#infos').css('top', '-300px');
        }
    });
</script>

