

<div class="thumb-box">
<% for(var i=0; i < previews.length; i++) {%>
    <div class="thumb">
        <a href="/pages/<%- previews[i] %>">
            <img src="/prevs/<%- previews[i] %>.png" alt="Page <%- previews[i] %>">
        </a>
    </div>
<% } %>
</div>
