# Secret files

# Environment variables
/app/config/environment/prod.env
/app/config/environment/dev.env
#/app/public/prevs/*
/app/node_modules
/scripts/*
#/db/*



# dependencies

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
#!.vscode/settings.json
#!.vscode/tasks.json
#!.vscode/launch.json
#!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
/app/npm-debug.log
testem.log
/typings

#System Files
.DS_Store
Thumbs.db