<div class='page-wrap'>
<style id='bckgrdImgStyle'>body {background-image: url("http://localhost:7331/images/1493588328855.gif") !important;background-attachment: fixed;background-position: 50% 50%;background-repeat: repeat;background-size: auto auto;}</style>

<p style="text-align: center;"><img src="http://localhost:7331/images/close.png" alt="" style="width: 361px; height: 361px;"></p></div>