<p style="text-align: center;">
<style id='bckgrdImgStyle'>
    body {
        background-image: url("/images/first_one1.gif") !important;
        background-attachment: fixed;
        background-position: 50% 50%;
        background-repeat: repeat;
        background-size: auto auto;
    }
</style>
<br>
<br>
<br>
<img src="/images/first_one2.gif" alt="one" style="width: 328px; height: 328px;">
<br>
<p style="text-align:center; font-size:2rem; background-color:gray; color:white; width:320px; margin:0 auto;">
    First Weirdy Pages
</p>
<br>
<br>
</p>