<div id="infos">
    <div class="infos-header infos-box">
        <div class="head-left">
            <i class="fa fa-info" aria-hidden="true"></i>
            <i class="fa fa-question" aria-hidden="true"></i>
            &nbsp;-&nbsp;infos
        </div>
        <div class="head-right">
            <i id="infos-close" class="fa fa-times-circle-o" aria-hidden="true"></i>
        </div>
    </div>

    <div class="infos-content infos-box">
        <p>
        Ce site est juste une expérience ...
        <br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        ... une sorte de mur abandonné virtuel.
        </p>

        <br>
        <br>
        <p>
        This site is just an experience ...
        <br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        ... a kind of virtual abandoned wall.
        </p>
        
        <!--p>&nbsp;-&nbsp;linear</p-->
        <br>
        <br>
        <p>Source code : <a href="https://gitlab.com/radiium/weirdy.party" target="_blank">weirdy.party</a></p>
        <p>Contact : <a href="mailto:radiium@openmailbox.org?Subject=Hello%20again" target="_top">radiium</a></p>
    </div>
</div>