<div id="infos">
    <div class="infos-header infos-box">
        <div class="head-left">
            <i class="fa fa-info" aria-hidden="true"></i>
            <i class="fa fa-question" aria-hidden="true"></i>
            &nbsp;-&nbsp;infos
        </div>
        <div class="head-right">
            <i id="infos-close" class="fa fa-times-circle-o" aria-hidden="true"></i>
        </div>
    </div>

    <div class="infos-content infos-box">
        <p>This site is just an experience ...</p>
        <p>... a kind of virtual abandoned wall</p>
        <!--p>&nbsp;-&nbsp;linear</p-->
        <p></p>
        <p></p>
        <p>Source code : <a href="https://github.com/radiium/weirdy.party" target="_blank">weirdy.party</a></p>
    </div>
</div>