<div id="navBarContainer">
    <div id="navbar">

        <!-- MENU -->
        <div id="menu" class="toggle" style="display: none;">
            <!-- Home button -->
            <button id="" class="btn menuBtn" style="display: none;"
            onclick="window.location.href = window.location.origin;">
                <div class="triangle"></div>
                <p class="textBtn">Home</p>
            </button>

            <!-- Editor button -->
            <% if (data.type !== 'editor' && data.type !== 'login') { %>
            <button id="" class="btn menuBtn" style="display: none;"
            onclick="window.location.href = '/editor'">
                <div class="triangle"></div>
                <p class="textBtn">Editor</p>
            </button>
            <% } %>


            <!-- Info button -->
            <button id="infos-open" class="btn menuBtn" style="display: none;">
                <div class="triangle"></div>
                <p class="textBtn">Info</p>
            </button>

            <!-- Previews button -->
            <% if (data.type !== 'previews') { %>
            <button id="" class="btn menuBtn" style="display: none;"
            onclick="window.location.href = '/previews'">
                <div class="triangle"></div>
                <p class="textBtn">Previews</p>
            </button>
            <% } %>
        </div>

        <!-- NAVIGATION -->
        <div id="navigation">
            <!-- Left button -->
            <% if (typeof data.prevPage !== 'undefined' && typeof data.prevPage !== '' ) { %>
            <button id="" class="btn navBtn left"
            onclick="window.location.href = '/pages/' + '<%= data.prevPage %>'">
                <div class="triangle"></div>
            </button>
            <% } else { %>
            <button id="" class="btn navBtn left hiddenBtn">
                <div class="triangle"></div>
            </button>
            <% } %>

            <!-- menu button -->
            <button id="toggleBtn" class="btn navBtn">
                <div class="cross"></div>
            </button>

            <!-- Right button-->
            <% if (typeof data.nextPage !== 'undefined' && typeof data.nextPage !== '' ) { %>
            <button id="" class="btn navBtn right"
            onclick="window.location.href = '/pages/' + '<%= data.nextPage %>'">
                <div class="triangle"></div>
            </button>
            <% } else { %>
            <button id="" class="btn navBtn right hiddenBtn">
                <div class="triangle"></div>
            </button>
            <% } %>
            
        </div>
    </div>
</div>
