body {
    /*padding: 50px;*/
    padding: 0;
    margin: 0 auto;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}
/* Navigation */
#navigation {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: fixed;
    width: 200px;
    height: 200px;
    padding: 10px;
    
    /*margin-left: -100px;*/
}
#toolbar {
    display: flex;
    flex-direction: column;
    transition: all ease-in-out 1s;
    height: 0; 
    opacity: 0;
}
#navigation input {
    background-color: rgba(0, 0, 0, 0.5);
    width: 50px;
    height: 50px;
    border: none;
    margin-bottom: 5px;
}
#navigation input:hover {
    background-color: rgba(0, 0, 0, 0.3);
    /*color: white;*/
}

#toggle {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    width: 50px;
    height: 50px;
    left: 200px;
    margin-bottom: 5px;
    border-radius: 25px;
    line-height: 50px;
    text-align: center;
    -webkit-transition: all ease-in-out 0.2s;
    -moz-transition: all ease-in-out 0.2s;
    transition: all ease-in-out 0.2s;
}
#toggle:hover {
    border-radius: 0;
}

@keyframes navigation {
    0%   {top: 0px;}
    25%  {top: 200px;}
    50%  {top: 100px;}
    75%  {top: 200px;}
    100% {top: 0px;}
}


/* Pages */
.page-wrap {
    height: 100%;
}
