/************************
        General
************************/
html{
    padding: 0;
    margin: 0;
    width:100%;
    height:auto;
    /*background:black;*/
}

body{
    padding: 0;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
/************************
        Pages
************************/
.page-wrap {
    width: auto;
    height: 100%;
    margin: 10px;
    overflow: hidden;
}

/************************
          404
************************/
#pageNotFound {
    text-align: center;
}

/************************
        Editor
************************/
#editor-title {
    text-align: center;
}

/************************
        Navigation
************************/
input[type="button"] {
    font-family: FontAwesome;
    padding: 0;
}
#navigation {
    z-index: 999999;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: fixed;
    left: 10px;
    bottom: 10px;
}
#toolbar {
    display: flex;
    flex-direction: row;
    width: 0; 
    height: 50px;
    -webkit-transition: all ease-in-out 0.2s;
       -moz-transition: all ease-in-out 0.2s;
            transition: all ease-in-out 0.2s; 
}

/* Toggle Button */
#toggle {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    width: 50px;
    height: 50px;
    left: 200px;
    font-size: 2rem;
    margin-right: 5px;
    border-radius: 0;
    line-height: 45px;
    text-align: center;
    -webkit-transition: all ease-in-out 0.4s;
       -moz-transition: all ease-in-out 0.4s;
         -o-transition: all ease-in-out 0.4s;
            transition: all ease-in-out 0.4s;
}
#toggle:hover {
    border-radius: 25px;
}
.rotation {
    -webkit-transform: rotate(135deg);
       -moz-transform: rotate(135deg);
         -o-transform: rotate(135deg);
            transform: rotate(135deg);
}

/* Buttons */
.item-btn {
    font-size: 2rem;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    margin-right: 5px;
    height: 50px;
}
.toolbar-btn {
    background-color: rgba(20, 20, 20, 0.5);
    width: 0;
    -webkit-transition: all ease-in-out 0.2s;
       -moz-transition: all ease-in-out 0.2s;
            transition: all ease-in-out 0.2s;
}
.nav-btn {
    background-color: rgba(20, 20, 20, 0.5);
    width: 50px;
}

.toolbar-btn:hover,
.nav-btn:hover {
    background-color: rgba(20, 20, 20, 0.9);
}

/* infos popup */
#infos {
    z-index: 9999;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    position: fixed;
    margin: 0 auto;
    /*top: calc(50% - 150px);*/
    top: -300px;
    left: calc(50% - 160px);
    background-color: rgba(20, 20, 20, 0.9);
    color: white;
    width: 320px;
    min-height: 300px;
    -webkit-transition: all ease-in-out 0.2s;
       -moz-transition: all ease-in-out 0.2s;
            transition: all ease-in-out 0.2s;
}
.infos-box {
    padding-left: 10px;
    padding-right: 10px;
}
.infos-head-foot {
    
}

#infos .infos-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: gray;
    text-align: center;
    height: 50px;
    line-height: 50px;
}
#infos .infos-header .head-left {
    padding-left: 20px;
    font-size: 1.5rem;
}

#infos .infos-header .head-right {
    font-size: 1.8rem;
}
#infos .infos-header .head-right i {
    padding: 0.1rem;
    /*border-radius: 0.9rem;*/
    border: 1px solid white;
}
#infos .infos-header .head-right:hover i {
    background-color: black;
    border: 1px solid black;
    font-size: 1.8rem;
}

#infos .infos-content {
    flex: 1;
}


.infos-close {
    background-color: black;
    font-size: 1.3rem;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 5px;
}

/* Previews page */
.thumb-box {
    margin-top: 15px;
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.thumb {
    margin: 10px;
}
.thumb img {
    width: 200px;
    height: auto;  
}

/* Login page */
#login {
    padding-top: 50px;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: cornflowerblue;
}
#login h1 {
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto;
}
#login-form {
    /*background-color: lightgray;*/
    margin: 0 auto;
    width: 250px;
    text-align: center;
    border: 1px solid gray;
    padding: 30px;
}
.row {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.row input {
    border: none;
    padding: 5px;
}
.login-btn input{
    margin-top: 20px;
    font-size: 1rem;
    border: none;
    width: 230px;
    padding: 5px;
}


