<div class='page-wrap'>
<style id='bckgrdImgStyle'>body {background-image: url("http://localhost:7331/images/595cb5b8ff91f55708514083263dfb98_400x1000.jpg") !important;background-attachment: fixed;background-position: 50% 50%;background-repeat: repeat;background-size: auto auto;}</style>

<h1 style="text-align: right;"><span style="color: rgb(238, 236, 225);">An Idiot Sandwich</span>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <img src="http://localhost:7331/images/AliveLastingBlackwidowspider-size_restricted.gif" alt=""></h1></div>